/* After you've linked the CSS file in the HTML,
this should turn the background blue ;) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: "Handlee", cursive;
  font-family: "Just Another Hand", cursive;
  background: linear-gradient(135deg, #f5e0c3, #ff8c42);
  background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
  color: #4b2c20;
  /* Espresso Brown */
}

.hero-section {
  background-image: url("assets/minimalist-cake.webp");
  height: 400px;
  background-size: cover;
  position: relative;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero-text {
  background: #dee2e6a6;
  padding: 20px 30px;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  /* Ensures text is above the background */
}

.hero-section h1 {
  font-size: 50px;
  font-weight: bold;
}

.hero-section p {
  font-size: 40px;
  font-style: italic;
}

.form-container {
  width: 90%;
  max-width: 800px;
  margin: 2rem auto;
  padding: 3rem 0;
  background-color: #fffaf0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form-title {
  padding: 10px 0;
  text-align: center;
}

.cake-form {
  margin: 2rem 0rem;
}

label {
  font-size: 25px;
}

/* Styling for input elements, textareas, and select elements. */
input[type="text"],
input[type="tel"],
select,
textarea {
  background-color: #fdf5e6;
  border: 1px solid #d2b48c;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #4b2c20;
}

/* Styling for radio buttons and checkboxes. */
input[type="radio"],
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #4b2c20;
  cursor: pointer;
}

/* Styling for radio and checkbox options, arranging them in a flexible layout. */

.radio-button-line {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
}

.radio-option {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}

.checkbox-option {
  display: flex;
  align-items: center;
  gap: 15px;
}

button {
  background-color: #ff8c42;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #f76e11;
}

.site-footer {
  background-color: #4b2c20;
  color: white;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  position: relative;
  /* use fixed to have it always visible */
  width: 100%;
}

/* Larger screens */

@media (min-width: 768px) {
  .hero-section {
    height: 500px;
    background-size: contain;
    background-position: center top;
  }
}
